* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient( #00d2ff 10%, #3a47d5 100%);
	min-height: 100vh;
	display: grid;
	place-items: center;
}


.scroll-container {
	height: 750px;
	margin: auto;
	position: relative;
	width: 90%;
	display: grid;
	place-items: center;
	overflow: hidden;
}

.slide-container {
	display: flex;
	width: calc(250px * 18);
	animation: scroll 10s linear infinite;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-250px * 9));
	}
}


.slide-img {
	height: 500px;
	width: 730px;
	display: flex;
	align-items: center;
	padding: 15px;
	perspective: 100px;
}